body {
    font-family: Nunito, sans-serif;
    font-size: .95rem;
    font-weight: 400;
    line-height: 1.5;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}